<html>
<head>
    <title>Help Information for ProxiBot</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
</head>
<body>
    <h1>ProxiBot</h1>
    <h2>What's this?</h2>
    <p>ProxiBot is an XMPP bot that acts as a command proxy to other web applicatioins.
    He is primarily here to serve his master Sal. Add <em>proxibot@appspot.com</em> to your 
    Google talk or Jabber friend list, and he'll become you're slave as well :) ...</p>
    <p>Available commands:</p>
    <table>
        <tr><th>/help</th><td>Shows command list</td></tr>
    </table>
</body>
</html>
